

body {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;   /* Default was 16px */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #f5bc02;
    color: black;
    
    padding: 1rem;
    text-align: center;
    
}
nav {
    background-color: #e1e1e1;
    padding: 0.5rem;
    text-align: center;
}
nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #7fa5d6;
    font-weight: bold;
}

.container {
    max-width: 1400px;   /* Or 900px for wider view */
    margin: 2rem auto;  /* Top-bottom: 2rem, left-right: auto */
    padding: 0 1rem;    /* Optional inner padding */
}


img.profile {
    width: 700px;
    float: right;
    margin-left: 2rem;
    border-radius: 10px;
}
